.profile-screen {
  .avatar-img {
    width: 100px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;

    margin-bottom: 10px;
    align-self: center;
  }
  .title {
    align-self: center;
  }
}
