.signin-screen {
  .btn-google {
    color: white;
    background-color: #ea4335;
  }

  .btn-facebook {
    color: white;
    background-color: #3b5998;
  }
  .kep-login-facebook {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 12px;
    width: 100%;
    font-size: 13px;
  }
}
